src/main/mule/implementation/get-client-by-name.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-client-by-name-flow" doc:id="21d70d00-0040-4474-95bb-5498ec998601" >
		<logger level="INFO" doc:name="Logger" doc:id="92218e9f-9562-4191-ad3c-200d68697d48" message="Start Flow" />
		<salesforce:query doc:name="Query" doc:id="f0fe2a34-30ae-4876-848f-d32b2d0dfc45" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT 
    Id__c,
    Name,
    Phone__c,
    Zip_Code__c, 
    City__c, 
    UF__c, 
    Street__c
FROM 
    Client__c
WHERE 
	Name = ':Name']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	"Name": payload.Name
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="9a8d7dbf-b035-4266-8c93-68f0485deeeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	"Id"		 : $.Id__c,
    "Name"		 : $.Name,
    "PhoneNumber": $.Phone__c,
    "ZipCode"	 : $.Zip_Code__c,
    "Street"	 : $.Street__c,
    "City"	 	 : $.City__c,
    "UF"		 : $.UF__c
    
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6c1a854b-d8dc-48e1-b77e-521daf806b17" message="The End Flow" />
	</flow>
</mule>
