src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<flow name="customer-base-api-main" doc:id="410d3cee-99c5-4ec4-8b25-292e5549e2ca" >
		<http:listener doc:name="Listener" doc:id="025bea21-fc52-4ba5-bd24-5cb04d1bb570" config-ref="HTTP_Listener_config" path="/v1/*">
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="f29bf34e-e559-4857-bb31-55dbe42bd3c7" message="Start Proj"/>
		<apikit:router doc:name="APIkit Router" doc:id="5fe0e97d-f93f-44f5-9e29-2605ab9a099c" config-ref="Router"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f4023094-b4c0-472d-8f65-bb78c2b5661d" type="APIKIT:BAD_REQUEST" >
				<ee:transform doc:name="Transform Message" doc:id="08aaf299-2c0c-465d-ad57-6dca55a7006f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate1" doc:id="725bcd59-cd6a-447c-9103-dd7fa4be5dd6" type="APIKIT:NOT_FOUND" >
				<ee:transform doc:name="Transform Message" doc:id="c57504a6-d075-4f59-a26d-3e65d39c54b6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate2" doc:id="24762c8e-f55a-4dbc-af6a-9f59d08f7dce" type="APIKIT:METHOD_NOT_ALLOWED" >
				<ee:transform doc:name="Transform Message" doc:id="52ab7d4a-0528-42c6-8c92-2e6dd1905489" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[405]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate3" doc:id="0ef8c0fa-0511-4df5-9e9f-aee44b731480" type="APIKIT:NOT_ACCEPTABLE" >
				<ee:transform doc:name="Transform Message" doc:id="077e6d72-7e5f-4db1-9182-08edbbd3413a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate4" doc:id="80d436a7-4922-4222-a3a6-c092c89d772f" type="APIKIT:UNSUPPORTED_MEDIA_TYPE" >
				<ee:transform doc:name="Transform Message" doc:id="d247c3f2-f528-4795-bc53-c8e52a40a563" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate5" doc:id="ecb832d2-bec5-453a-890a-eb36b7193220" type="APIKIT:NOT_IMPLEMENTED" >
				<ee:transform doc:name="Transform Message" doc:id="6f80c6f0-7185-4587-9e61-9a0cbc40ceb7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	
</flow>
</mule>
